.container {
  background: transparent;
  /* border: 1px solid white; */
  /* padding: 1rem; */
  margin: 1rem;
  display: table-cell;
  /* position: absolute; */
  z-index: -1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container .linkButton {
  display: inline;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  background: transparent;
  border: none;
  font-weight: 500;
  transition-duration: 0.4s;
}
.container .linkButton:hover {
  border-bottom: 5px solid white;
}
.container .linkButton a {
  color: white;
}
.container .linkButton a:hover {
  text-decoration: none;
}
.container .linkButton:focus {
  outline: none;
}
@media only screen and (max-width: 550px) {
  .container {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
}
